1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "kapodamy"
      VALUE "FileDescription", "Binary Notation Object encoder"
      VALUE "FileVersion", "0.1.0"
      VALUE "InternalName", "bno"
      VALUE "OriginalFilename", "bno.exe"
      VALUE "ProductName", "BNO encoder"
      VALUE "ProductVersion", "0.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x080A, 1252
  END
END